In [1]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp38-cp38-win_amd64.whl (2.9 MB)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [1]:
import cassandra
print (cassandra.__version__)

3.25.0

In [2]:
#client_id : hKMohroqWAmBKCQPOkBJLEYD
#client secrete : atz6gqOz-_msHkq6eyY7LkieDZ5y.288m27M9mFN7lzqo3+0UwYGmfTQH8DfQYcA.reKZTY3DTuE740_L.5_hf2242wPSKKZrYAIZtFiKKb1kxA_DXh2qXHQ_DUWbDqD
# token : AstraCS:hKMohroqWAmBKCQPOkBJLEYD:f59db428433e2e551585910c0b06f1c98562e6960328729325c760cfe609c9b9
#Database_id : fee9b492-b712-4557-9b49-12a4b209c555
#Cluster Id : fee9b492-b712-4557-9b49-12a4b209c555

administrator : 
id : SnpjquvhpDcZLsLbMXaQnCUT
client-secrete : jgz7U,z.aJln7Ei37YB6,zjKZ8mII8tU6BRt3PT+-SzvM-.D79.qgDdjlc,hbgpviy.WrzICM9SXAN1e-.9v1XWDdmItwLNMK7wAbXxk_Sqkr00CBEB0BZzyzntWziqu
token : AstraCS:SnpjquvhpDcZLsLbMXaQnCUT:5f336db52fa76f01289f0c0a9520451a0961827b60dc41096cc821551c0c497b

# how to get client id 
current-organization -> oragnization-setting -> token-management -> select-role -> generate-token

In [3]:
#https://docs.aws.amazon.com/keyspaces/latest/devguide/using_python_driver.html

In [1]:
# connecting to the cassandra-server
# three things required :1. Downloaded zip file path 
#2. client Id 
#3.Client-secret 

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\CassandraDB_Bundle\secure-connect-backorder-prediction.zip'
}
auth_provider = PlainTextAuthProvider('hKMohroqWAmBKCQPOkBJLEYD', 'atz6gqOz-_msHkq6eyY7LkieDZ5y.288m27M9mFN7lzqo3+0UwYGmfTQH8DfQYcA.reKZTY3DTuE740_L.5_hf2242wPSKKZrYAIZtFiKKb1kxA_DXh2qXHQ_DUWbDqD')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
# Good_training_data
session = cluster.connect('Good_training_data')
row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
    print(row)
    print('Connected successfully....!')
else:
    print("An error occurred.")

4.0.0.6815
Row(release_version='4.0.0.6815')
Connected successfully....!

In [51]:
row = session.execute('select * from system_schema.keyspaces')
for i in row:
    print(i)
    
    
# print('\n')
print(row.current_rows)

Row(keyspace_name='datastax_sla', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))
Row(keyspace_name='system_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))
Row(keyspace_name='system_schema', durable_writes=False, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.LocalStrategy')]))
Row(keyspace_name='Good_training_data', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))
Row(keyspace_name='system', durable_writes=False, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.LocalStrategy')]))
Row(keyspace_name='data_endpoint_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))
Row(keyspace_name='system_traces', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))
[]

In [52]:
strCQL = "SELECT cluster_name FROM system.local"
pStatement = session.prepare(strCQL)
rows = session.execute(pStatement)
for row in rows:
    print (row[0])

cndb

In [63]:
session.execute("CREATE TABLE if not exists Data(id uuid PRIMARY KEY,Airline text,Source text,Destination text,Total_Stops text,Total_Duration int,Journey_month int,Journey_day int);")

In [64]:
# inserting d

In [65]:
#Insert into KeyspaceName.TableName(ColumnName1, ColumnName2, ColumnName3 . . . .)
#values (Column1Value, Column2Value, Column3Value . . . .)

In [72]:
session.execute("Insert into Data(id, Airline, Source,Destination,Total_Stops,Total_Duration,Journey_month,Journey_day) values( uuid(),'shubham','abc','xyz','c' , 14 ,12 , 5);")

In [76]:
data_retrived = session.execute("select * from data;")
for i in data_retrived:
    print(i)

Row(id=UUID('91b0b72c-b006-4e3b-ba2a-51a277da9f03'), airline='shubham', destination='xyz', journey_day=5, journey_month=12, source='abc', total_duration=14, total_stops='c')

In [ ]:
# get the table names
# cq : describe tables;
# get the keyspaces : cq : describe keyspaces
# use keyspace : use keyspace_name

In [29]:
a= session.execute("SELECT cluster_name FROM system.local")
for i in a:
    print(i)

Row(cluster_name='cndb')

In [53]:
for i in session.execute("SELECT * FROM system_schema.columns WHERE keyspace_name = 'Good_training_data' AND table_name = 'Data';"):
    print(i)

In [10]:
# to see all keyspaces :  describe keyspaces
# SELECT * FROM system_schema.keyspaces;

In [17]:
row = session.execute('select * from system_schema.keyspaces').one()
for i in row:
    print(i)

datastax_sla
True
None
{'class': 'org.apache.cassandra.locator.NetworkTopologyStrategy', 'us-east-1': '3'}

In [20]:
row = session.execute('select * from Goood_training.keyspaces').one()
print(row)

InvalidRequest: Error from server: code=2200 [Invalid query] message="keyspace goood_training does not exist"

In [ ]:
# create the keyspaces
#CREATE KEYSPACE IF NOT EXISTS Good_prediction WITH REPLICATION = {'class' : 'simplestrategy', 'replication_factor':'1'} AND durable_writes = 'true' ;

In [23]:
row = session.execute("CREATE KEYSPACE IF NOT EXISTS Good_prediction WITH REPLICATION = {'class' : 'Simplestrategy', 'replication_factor':'1'} AND durable_writes = 'true' ; ")
# getting error : because the current user doesn't have permission to create keyspaces

Unauthorized: Error from server: code=2100 [Unauthorized] message="Missing correct permission on good_prediction."

In [ ]:
#

In [8]:
print('d \n {}'.format(1) )

d 	 1

In [25]:
import cassandra
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

class connector:
    def __init__(self):
        #self.logger = logger_app()
        #self.yml_path = "Controllers\DBconnection_info.yaml"
        #self.dataLoader = yaml_parser(self.yml_path)
        self.path_toZip = 'D:\CassandraDB_Bundle\secure-connect-backorder-prediction.zip'
        self.client_id =  'hKMohroqWAmBKCQPOkBJLEYD'
        self.client_sec = 'atz6gqOz-_msHkq6eyY7LkieDZ5y.288m27M9mFN7lzqo3+0UwYGmfTQH8DfQYcA.reKZTY3DTuE740_L.5_hf2242wPSKKZrYAIZtFiKKb1kxA_DXh2qXHQ_DUWbDqD'
        
    def connect(self):
        #print(self.client_id)
        #print(self.client_sec )
        cloud_config= {
        'secure_connect_bundle': 'D:\CassandraDB_Bundle\secure-connect-backorder-prediction.zip'
                        }
        auth_provider = PlainTextAuthProvider(self.client_id , self.client_sec )
        cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
        session = cluster.connect()

        row = session.execute("select release_version from system.local").one()
        if row:
            #print(row[0])
            #print(row)
            print('connector Connected successfully....!')             
        else:
            print("An error occurred.") 
            #pass 
            
        return session

In [26]:
a = connector()
session1 = a.connect()

connector Connected successfully....!

In [27]:
class ex:
    def __init__(self):
        self.connector = connector()
        self.session = self.connector.connect()
    def command(self):
        row = self.session.execute("select release_version from system.local").one()
        print(row)
        if row:
            print(row[0])
            print('Experiment success..')
        else:
            print('Failure..')

In [28]:
b = ex()
b.command()

connector Connected successfully....!
Row(release_version='4.0.0.6815')
4.0.0.6815
Experiment success..

In [46]:
# dataset Details 
import os

In [6]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is 9A09-67B7

 Directory of D:\

27-08-2021  08.12 PM    <DIR>          Auto Ml Docs
27-08-2021  07.52 PM    <DIR>          BackOrder_Intern
29-08-2021  12.32 PM    <DIR>          Books
27-08-2021  06.53 PM    <DIR>          Cassandra files
27-08-2021  07.47 PM    <DIR>          CassandraDB_Bundle
04-08-2021  03.08 PM    <DIR>          CNN
30-08-2021  12.53 AM    <DIR>          Detectron-2
30-08-2021  10.45 PM    <DIR>          Download
03-08-2021  02.43 PM    <DIR>          DPR
09-08-2021  01.55 AM    <DIR>          DSA
28-08-2021  12.29 AM    <DIR>          FloweDataset
24-08-2021  01.40 AM    <DIR>          git backup
25-07-2021  04.38 PM    <DIR>          HLD & LLD
31-07-2021  10.44 PM    <DIR>          Ineuron Projects
11-08-2021  06.15 PM    <DIR>          Int Prep
06-08-2021  12.20 AM    <DIR>          Internship Projects
21-08-2021  10.38 AM    <DIR>          Jupyter Files
13-08-2021  11.47 PM    <DIR>          linux-handbook-v-2
29-07-2021  09.00 PM    <DIR>          MLOps
25-07-2021  05.31 PM    <DIR>          my_projetcs
18-08-2021  03.27 PM    <DIR>          Object Detection Project
18-08-2021  10.31 AM    <DIR>          OBJ_Dproj
24-08-2021  05.41 PM    <DIR>          Projects PPT
30-08-2021  01.06 AM    <DIR>          research papers
24-08-2021  05.40 PM    <DIR>          Software park
30-08-2021  07.14 PM    <DIR>          SQL2019
17-08-2021  03.13 AM    <DIR>          tfod2
24-08-2021  05.39 PM    <DIR>          tfods Zips
07-08-2021  11.30 PM    <DIR>          Time series
08-08-2021  12.08 AM    <DIR>          tmp
11-08-2021  12.35 AM    <DIR>          VDOS
               0 File(s)              0 bytes
              31 Dir(s)  257,174,745,088 bytes free

In [15]:
cd ./BackOrder_Intern

[WinError 2] The system cannot find the file specified: './BackOrder_Intern'
D:\Cassandra files

In [16]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is 9A09-67B7

 Directory of D:\Cassandra files

01-09-2021  03.12 PM    <DIR>          .
01-09-2021  03.12 PM    <DIR>          ..
25-08-2021  02.35 PM    <DIR>          .ipynb_checkpoints
25-08-2021  12.07 PM    <DIR>          19.4.Cassandra
25-08-2021  02.53 PM               316 Admin-user-token
25-08-2021  02.54 PM               332 organization-administrator_token
01-09-2021  03.12 PM            32,713 ServerBased_Cassandra.ipynb
               3 File(s)         33,361 bytes
               4 Dir(s)  245,354,512,384 bytes free

In [17]:
import json
import os

In [12]:
json_path = os.path.join(os.getcwd() , 'Training_Schema.json')
json_path

'D:\\Cassandra files\\Training_Schema.json'

In [13]:
def parsing_json(file_path):
    with open(file_path , mode='r') as f:
        l = []
        data = json.load(f)
        return data

In [14]:
data  = parsing_json(json_path)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Cassandra files\\Training_Schema.json'

In [8]:
data

NameError: name 'data' is not defined

In [9]:
col_n = data['ColName']
col_n

NameError: name 'data' is not defined

In [36]:
st = ''

for k,v in col_n.items():
    if v == 'Integer':
        st = st + k + '  ' + 'int' + ','
    elif v == 'object':
        st = st + k + '  ' + 'text' + ','      
    else :
        st = st + k +"  "+ v + ' , '

In [37]:
st

'sku  int,national_inv  float , lead_time  float , in_transit_qty  float , forecast_3_month  float , forecast_6_month  float , forecast_9_month  float , sales_1_month  float , sales_3_month  float , sales_6_month  float , sales_9_month  float , min_bank  float , potential_issue  text,pieces_past_due  float , perf_6_month_avg  float , perf_12_month_avg  float , local_bo_qty  float , deck_risk  text,oe_constraint  text,ppap_risk  text,stop_auto_buy  text,rev_stop  text,went_on_backorder  text,'

In [21]:
os.chdir('D:\BackOrder_Intern')
os.listdir('.')

['.git',
 '.gitignore',
 '.idea',
 'application_logging',
 'Controllers',
 'json_reader.py',
 'Prediction_Logs',
 'secure-connect-backorder-prediction.zip',
 'tester.py',
 'Tools',
 'Training_batch_files',
 'Training_Database_Operations',
 'Training_dataValidation',
 'Training_Logs',
 'Training_Schema.json']

In [20]:
def parsing_json(file_path):
    with open(file_path , mode='r') as f:
        l = []
        data = json.load(f)
        return data
    
data = parsing_json('./Training_Schema.json')

In [22]:
data

{'SampleFileName': 'BackOrder_08012020_120000.csv',
 'LengthOfDateStampInFile': 8,
 'LengthOfTimeStampInFile': 6,
 'NumberofColumns': 23,
 'ColName': {'sku': 'Integer',
  'national_inv': 'float',
  'lead_time': 'float',
  'in_transit_qty': 'float',
  'forecast_3_month': 'float',
  'forecast_6_month': 'float',
  'forecast_9_month': 'float',
  'sales_1_month': 'float',
  'sales_3_month': 'float',
  'sales_6_month': 'float',
  'sales_9_month': 'float',
  'min_bank': 'float',
  'potential_issue': 'object',
  'pieces_past_due': 'float',
  'perf_6_month_avg': 'float',
  'perf_12_month_avg': 'float',
  'local_bo_qty': 'float',
  'deck_risk': 'object',
  'oe_constraint': 'object',
  'ppap_risk': 'object',
  'stop_auto_buy': 'object',
  'rev_stop': 'object',
  'went_on_backorder': 'object'}}

## create table

In [ ]:
col_n = data['ColName']
cols = ""
for k,v in col_n.items():
    cols=cols + k + ","
    
print( cols)

In [53]:
# commands
session.execute('use "Good_training_data"')

In [54]:
session.execute("CREATE TABLE if not exists Good_trainingTable ( id uuid PRIMARY KEY,sku  int,national_inv  float , lead_time  float , in_transit_qty  float , forecast_3_month  float , forecast_6_month  float , forecast_9_month  float , sales_1_month  float , sales_3_month  float ,sales_6_month  float , sales_9_month  float ,min_bank  float , potential_issue  text,pieces_past_due  float , perf_6_month_avg  float , perf_12_month_avg  float , local_bo_qty  float ,deck_risk  text,oe_constraint  text  , ppap_risk  text,stop_auto_buy  text,rev_stop  text,went_on_backorder  text) ;" )

## Inserting Data

In [1]:
import cassandra
print (cassandra.__version__)

3.25.0

In [2]:
# connecting to the cassandra-server
# three things required :1. Downloaded zip file path 
#2. client Id 
#3.Client-secret 

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\CassandraDB_Bundle\secure-connect-backorder-prediction.zip'
}
auth_provider = PlainTextAuthProvider('hKMohroqWAmBKCQPOkBJLEYD', 'atz6gqOz-_msHkq6eyY7LkieDZ5y.288m27M9mFN7lzqo3+0UwYGmfTQH8DfQYcA.reKZTY3DTuE740_L.5_hf2242wPSKKZrYAIZtFiKKb1kxA_DXh2qXHQ_DUWbDqD')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
# Good_training_data
session = cluster.connect('Good_training_data')
row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
    print(row)
    print('Connected successfully....!')
else:
    print("An error occurred.")

4.0.0.6815
Row(release_version='4.0.0.6815')
Connected successfully....!

In [2]:
session.execute('use "Good_training_data"')

(id , sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values (uuid , )

In [3]:
import os 
os.chdir("D:\Cassandra files")
os.listdir('.')

['.ipynb_checkpoints',
 '19.4.Cassandra',
 'Admin-user-token',
 'filtered_Training_data.csv',
 'finaltest.csv',
 'Imported_data4.csv',
 'Mini_data.csv',
 'Names.csv',
 'Names2.csv',
 'organization-administrator_token',
 'sample_try2.csv',
 'ServerBased_Cassandra -Origional.ipynb',
 'ServerBased_Cassandra.ipynb']

In [100]:
import pandas as pd
ndf = pd.read_csv("./filtered_Training_data.csv" , index_col = 'sku')
ndf.head(10)

C:\Users\DELL\anaconda3\envs\WaferFaultDetection_env\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
sku,,,,,,,,,,,,,,,,,,,,,
1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
1044198,13.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.87,0.0,No,No,No,Yes,No,No
1045098,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0.00,0.0,Yes,No,Yes,Yes,No,No
1045867,4.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.87,0.0,No,No,No,Yes,No,No
1045918,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.91,0.82,0.0,No,No,No,Yes,No,No
1049468,11.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.82,0.78,0.0,No,No,No,Yes,No,No
1050390,12.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.00,0.98,0.0,No,No,No,Yes,No,No
1050440,169.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.00,1.00,0.0,No,No,No,Yes,No,No
1050856,147.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,1.00,0.0,No,No,Yes,Yes,No,No

In [101]:
ndf.isna().sum()

national_inv         0
lead_time            0
in_transit_qty       0
forecast_3_month     0
forecast_6_month     0
forecast_9_month     0
sales_1_month        0
sales_3_month        0
sales_6_month        0
sales_9_month        0
min_bank             0
potential_issue      0
pieces_past_due      0
perf_6_month_avg     0
perf_12_month_avg    0
local_bo_qty         0
deck_risk            0
oe_constraint        0
ppap_risk            0
stop_auto_buy        0
rev_stop             0
went_on_backorder    0
dtype: int64

In [103]:
ndf.columns

Index(['national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'],
      dtype='object')

In [4]:
data = session.execute("select * from sample ;")

In [5]:
for i in data :
    print(i)

Row(id=UUID('3f5f9f9c-068d-43b9-bb13-702d377407fe'), name='shubham', srno=77)
Row(id=UUID('220e7ac4-f056-482e-827f-e09138da4046'), name='shubham', srno=77)
Row(id=UUID('da2105de-7721-477e-9474-0af920334061'), name='sam', srno=82)
Row(id=UUID('b884d4ac-9e93-44ab-9121-4f6734266407'), name='sam', srno=82)
Row(id=UUID('c8c26d7a-0921-4380-8f57-755a8094d7ba'), name='shubham', srno=77)
Row(id=UUID('66ee8766-77ba-4eb5-a2f6-74bc77e51e5d'), name='dhruv', srno=75)
Row(id=UUID('44fd49e3-b68a-4d6c-a6d1-df71e0a5e802'), name='rocky', srno=84)
Row(id=UUID('2bb047f1-bf58-4dc6-92fd-46b12bd7b8c1'), name='rocky', srno=84)
Row(id=UUID('65bd3b14-6d28-4f84-a555-55be43919419'), name='dhruv', srno=75)

In [9]:
session.execute("Insert into sample(id , name , srno ) values ( uuid() , 'rohan' ,  87) ; ")

In [10]:
import numpy as np

In [12]:
Query4 = "Insert into sample (id , name , srno) values (uuid() , 'sam' , float(np.nan)) ;"

In [ ]:
Query4 = "Insert into sample (id , name , srno) values (uuid() , 'sam' , 82) ;"

In [13]:
import csv

with open("./filtered_Training_data.csv",'r') as f:
    next (f)
    data = csv.reader(f , delimiter='\n' )
    limit = 0 
    for key , row in enumerate(data):
            a = row[0]
           
            session.execute(f"Insert into Good_trainingTable(sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values ({b}); " )
            break

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:407 no viable alternative at input ',' (...0.0,0.0,0.0,0.0,0.0,[No],...)">

In [ ]:
1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No

In [12]:
mini_data = ndf.iloc[[1043852 ,1045098 ,1045867 ,1050440 ] ]
mini_data.to_csv('Mini_data.csv')

In [13]:
a.replace('No' , '"No"').replace('Yes' , '"Yes"')

'1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"No",0.0,0.99,0.99,0.0,"No","No","No","Yes","No","No"'

In [6]:
session.execute("Insert into Good_trainingTable(sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values(1043312,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,'No',0.0,0.99,0.99,0.0,'No','No','No','Yes','No','No'); " )

## try on minidata

In [22]:
import csv

with open("./Mini_data.csv",'r') as f:
    next (f)
    data = csv.reader(f , delimiter='\n' )
    limit = 0 
    for key , row in enumerate(data):
            a = row[0]
            #b = a.replace('No' , ).replace('Yes' , '"Yes"')
            #session.execute(f'''Insert into Good_trainingTable(sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values({b.replace(" '' " , "  ")}); ''' )
            break
a

'1475763,45.0,8.0,24.0,96.0,144.0,216.0,26.0,101.0,182.0,272.0,51.0,No,0.0,0.98,0.98,0.0,No,No,No,Yes,No,No'

In [23]:
l = a.split(',')
print(l)

sku ,national_inv  , lead_time , in_transit_qty , forecast_3_month , forecast_6_month , forecast_9_month, sales_1_month , sales_3_month ,sales_6_month  , sales_9_month  ,min_bank , potential_issue ,pieces_past_due  , perf_6_month_avg , perf_12_month_avg  , local_bo_qty  ,deck_risk , oe_constraint, ppap_risk , stop_auto_buy  ,rev_stop  ,went_on_backorder = int(l[0]) , float(l[1]) ,  float(l[2]) ,  float(l[3]) , float(l[4]) ,  float(l[5]) ,  float(l[6]) ,  float(l[7]) , float(l[8]) , float(l[9]) ,  float(l[10]) , float(l[11]) ,  (l[12]), float(l[13]) , float(l[14]) ,  float(l[15])  ,  float(l[16]),  (l[17]),  (l[18]),  (l[19]),  (l[20]),  (l[21]),  (l[22])

['1475763', '45.0', '8.0', '24.0', '96.0', '144.0', '216.0', '26.0', '101.0', '182.0', '272.0', '51.0', 'No', '0.0', '0.98', '0.98', '0.0', 'No', 'No', 'No', 'Yes', 'No', 'No']

# trying to put null values

In [13]:
Query = "Create table if not exists sample2 (sku   int PRIMARY KEY ,national_inv float , lead_time float , in_transit_qty float , forecast_3_month float , went_on_backorder text ) ;"
session.execute(Query)
print('Table created Successfully....')

Table created Successfully....

In [14]:
import pandas as pd
df = pd.read_csv('./Mini_data.csv')
df.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1475773,45.0,NaN,24,96,144,216,26,101,182,...,0,0.98,0.98,0,No,No,No,Yes,No,No
1,1477213,873.0,9.0,46,0,207,492,88,395,921,...,0,0.86,0.84,0,No,No,No,Yes,No,No
2,1478096,21.0,12.0,0,0,0,0,1,3,5,...,0,0.63,0.72,0,No,No,No,Yes,No,No
3,1483257,NaN,8.0,0,0,0,0,233,321,342,...,0,0.93,0.91,0,No,No,No,Yes,No,No

In [19]:
#df.isna().sum()

In [59]:
#sku   int PRIMARY KEY ,national_inv float , lead_time float , in_transit_qty float , forecast_3_month float , went_on_backorder text 

df2 = df[['sku' ,'national_inv' , 'lead_time' ,'in_transit_qty' , "forecast_3_month" , 'went_on_backorder']]
df2.fillna(np.nan , inplace = True)
df2.head()

C:\Users\DELL\anaconda3\envs\WaferFaultDetection_env\lib\site-packages\pandas\core\frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder
0,1475773,45.0,NaN,24,96,No
1,1477213,873.0,9.0,46,0,No
2,1478096,21.0,12.0,0,0,No
3,1483257,NaN,8.0,0,0,No

In [60]:
Query_ = "Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values(114 , nan , 45 , 45  , 45 , 'yes') ; "
session.execute(Query_)

In [90]:
l = df2.values
for i in l : 
    s = list(i)
    Query_ = f"Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values({s[0]} , {s[1]},{s[2]},{s[3]} ,{s[4]} , '{s[5]}') ; "
    print(Query_)
    session.execute(Query_)

Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values(1475773 , 45.0,nan,24 ,96 , 'No') ;
Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values(1477213 , 873.0,9.0,46 ,0 , 'No') ;
Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values(1478096 , 21.0,12.0,0 ,0 , 'No') ;
Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values(1483257 , nan,8.0,0 ,0 , 'No') ;

In [86]:
Query_ = f"Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values({s[0]} , {s[1]},{s[2]},{s[3]} ,{s[4]} , '{s[5]}') ; "
print(Query_)
session.execute(Query_)

Insert into sample2(sku , national_inv,lead_time,in_transit_qty,forecast_3_month,went_on_backorder) values(1475773 , 45.0,nan,24 ,96 , 'No') ;

In [78]:
Q

nan

import csv

with open("./modified_csv2.csv",'r') as f:
    next (f)
    data = csv.reader(f , delimiter='\n' )
    limit = 0 
    for key , row in enumerate(data):
            a = row[0]
            l =a.split(',')
            print(a)
            sku ,national_inv  , lead_time , in_transit_qty , forecast_3_month , forecast_6_month , forecast_9_month, sales_1_month , sales_3_month ,sales_6_month  , sales_9_month  ,min_bank , potential_issue ,pieces_past_due  , perf_6_month_avg , perf_12_month_avg  , local_bo_qty  ,deck_risk , oe_constraint, ppap_risk , stop_auto_buy  ,rev_stop  ,went_on_backorder = int(l[0]) , float(l[1]) ,  float(l[2]) ,  float(l[3]) , float(l[4]) ,  float(l[5]) ,  float(l[6]) ,  float(l[7]) , float(l[8]) , float(l[9]) ,  float(l[10]) , float(l[11]) ,  (l[12]), float(l[13]) , float(l[14]) ,  float(l[15])  ,  float(l[16]),  (l[17]),  (l[18]),  (l[19]),  (l[20]),  (l[21]),  (l[22])   
            
            #session.execute(f"Insert into Good_trainingTable(sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values ({sku} , {national_inv}, {lead_time} , {in_transit_qty} , {forecast_3_month} , {forecast_6_month} , {forecast_9_month} , {sales_1_month}, {sales_3_month},{sales_6_month} ,{sales_9_month} , {min_bank} , {potential_issue} ,{pieces_past_due} , {perf_6_month_avg}, {perf_12_month_avg}  , {local_bo_qty}  ,{deck_risk} , {oe_constraint}, {ppap_risk} , {stop_auto_buy}  ,{rev_stop}  ,{went_on_backorder});" )

In [40]:
float(np.nan)

nan

In [49]:
sku
national_inv
lead_time
in_transit_qty
forecast_3_month
print(went_on_backorder)

No

In [ ]:
{sku} ,
{national_inv}, 
{lead_time} , 
{in_transit_qty} ,
{forecast_3_month} ,
{forecast_6_month} , 
{forecast_9_month} , 
{sales_1_month}, 
{sales_3_month},
{sales_6_month} ,
{sales_9_month} ,
{min_bank} , 
{potential_issue} ,
{pieces_past_due} ,
{perf_6_month_avg}, 
{perf_12_month_avg}  , 
{local_bo_qty}  ,
{deck_risk} , 
{oe_constraint},
{ppap_risk} , 
{stop_auto_buy}  ,
{rev_stop}  ,
{went_on_backorder}

In [40]:
z = 20
vb = 'shub'

f"hi {z},{vb}"

'hi 20,shub'

In [28]:
a

'1475763,45.0,8.0,24.0,96.0,144.0,216.0,26.0,101.0,182.0,272.0,51.0,No,0.0,0.98,0.98,0.0,No,No,No,Yes,No,No'

In [ ]:
sku  int PRIMARY KEY,national_inv  float ,
lead_time  float , 
in_transit_qty  float
, forecast_3_month  float
, forecast_6_month  float , 
forecast_9_month  float , 
sales_1_month  float ,
sales_3_month  float ,
sales_6_month  float , 
sales_9_month  float ,
min_bank  float , 
potential_issue  text,
pieces_past_due  float ,
perf_6_month_avg  float ,
perf_12_month_avg  float , 
local_bo_qty  float ,
deck_risk  text,
oe_constraint  text  ,
ppap_risk  text,
stop_auto_buy  text,
rev_stop  text,
went_on_backorder  text

In [17]:
filename = 'Mini_data.csv'
os.getcwd()

'D:\\Cassandra files'

In [18]:
path = os.path.join(os.getcwd() , 'Mini_data.csv' )
path

'D:\\Cassandra files\\Mini_data.csv'

In [47]:
session.execute("select * from Good_trainingTable").one()

Row(sku=1043384, deck_risk='No', forecast_3_month=0.0, forecast_6_month=0.0, forecast_9_month=0.0, in_transit_qty=0.0, lead_time=9.0, local_bo_qty=0.0, min_bank=0.0, national_inv=2.0, oe_constraint='No', perf_12_month_avg=0.9900000095367432, perf_6_month_avg=0.9900000095367432, pieces_past_due=0.0, potential_issue='No', ppap_risk='No', rev_stop='No', sales_1_month=0.0, sales_3_month=0.0, sales_6_month=0.0, sales_9_month=0.0, stop_auto_buy='Yes', went_on_backorder='No')

## Data getter

In [8]:
session.execute('use "Good_training_data"')

In [9]:
# creating demo tables
Query = 'Create table if not exists sample (id uuid PRIMARY KEY , name text , srno int)'
session.execute(f"{Query}")
print('Table created Successfully....')

Table created Successfully....

In [10]:
# inserting random data 
Query1 = "Insert into sample (id , name , srno) values ( uuid(), 'shubham' , 77); "
Query2 = "Insert into sample (id , name , srno) values  (uuid() , 'dhruv' , 75) ;"
Query3 = "Insert into sample (id , name , srno) values (uuid() , 'rocky' , 84) ;"
Query4 = "Insert into sample (id , name , srno) values (uuid() , 'sam' , 82) ;"

session.execute(Query1)
session.execute(f"{Query2}")
session.execute(f"{Query3}")
session.execute(f"{Query4}")

In [39]:
data = session.execute('select * from sample')

In [24]:
l = []
for i in data :
    headers = [x.title() for x in data.column_names]    
    l.append( [i[0] , i[1] , i[2]])
    
print(l)

[[UUID('3f5f9f9c-068d-43b9-bb13-702d377407fe'), 'shubham', 77], [UUID('220e7ac4-f056-482e-827f-e09138da4046'), 'shubham', 77], [UUID('da2105de-7721-477e-9474-0af920334061'), 'sam', 82], [UUID('b884d4ac-9e93-44ab-9121-4f6734266407'), 'sam', 82], [UUID('c8c26d7a-0921-4380-8f57-755a8094d7ba'), 'shubham', 77], [UUID('66ee8766-77ba-4eb5-a2f6-74bc77e51e5d'), 'dhruv', 75], [UUID('44fd49e3-b68a-4d6c-a6d1-df71e0a5e802'), 'rocky', 84], [UUID('2bb047f1-bf58-4dc6-92fd-46b12bd7b8c1'), 'rocky', 84], [UUID('65bd3b14-6d28-4f84-a555-55be43919419'), 'dhruv', 75]]

In [25]:
l

[[UUID('3f5f9f9c-068d-43b9-bb13-702d377407fe'), 'shubham', 77],
 [UUID('220e7ac4-f056-482e-827f-e09138da4046'), 'shubham', 77],
 [UUID('da2105de-7721-477e-9474-0af920334061'), 'sam', 82],
 [UUID('b884d4ac-9e93-44ab-9121-4f6734266407'), 'sam', 82],
 [UUID('c8c26d7a-0921-4380-8f57-755a8094d7ba'), 'shubham', 77],
 [UUID('66ee8766-77ba-4eb5-a2f6-74bc77e51e5d'), 'dhruv', 75],
 [UUID('44fd49e3-b68a-4d6c-a6d1-df71e0a5e802'), 'rocky', 84],
 [UUID('2bb047f1-bf58-4dc6-92fd-46b12bd7b8c1'), 'rocky', 84],
 [UUID('65bd3b14-6d28-4f84-a555-55be43919419'), 'dhruv', 75]]

In [28]:
  
# writing to csv file 
with open('Imported_data.csv', 'w' , newline='') as csvfile:  
    csvwriter = csv.writer(csvfile)  
    csvwriter.writerow(headers)  
    csvwriter.writerows(l)

In [40]:
for i in data :
    print(i)

Row(id=UUID('3f5f9f9c-068d-43b9-bb13-702d377407fe'), name='shubham', srno=77)
Row(id=UUID('220e7ac4-f056-482e-827f-e09138da4046'), name='shubham', srno=77)
Row(id=UUID('da2105de-7721-477e-9474-0af920334061'), name='sam', srno=82)
Row(id=UUID('b884d4ac-9e93-44ab-9121-4f6734266407'), name='sam', srno=82)
Row(id=UUID('c8c26d7a-0921-4380-8f57-755a8094d7ba'), name='shubham', srno=77)
Row(id=UUID('66ee8766-77ba-4eb5-a2f6-74bc77e51e5d'), name='dhruv', srno=75)
Row(id=UUID('44fd49e3-b68a-4d6c-a6d1-df71e0a5e802'), name='rocky', srno=84)
Row(id=UUID('2bb047f1-bf58-4dc6-92fd-46b12bd7b8c1'), name='rocky', srno=84)
Row(id=UUID('65bd3b14-6d28-4f84-a555-55be43919419'), name='dhruv', srno=75)

In [66]:
from cassandra.query import SimpleStatement
statement = SimpleStatement("SELECT * FROM sample", fetch_size=10 )
data = session.execute(statement)
print(data.column_names)

['id', 'name', 'srno']

In [111]:
from cassandra.query import tuple_factory
session.row_factory = tuple_factory
rows = session.execute("SELECT * from sample ;")
# writing to csv file 
with open('Imported_data4.csv', 'w' , newline='') as csvfile:  
    csvwriter = csv.writer(csvfile)  
    csvwriter.writerow(['id', 'name', 'srno'])  
    csvwriter.writerows(rows)

In [107]:
fieldnames = ['sku' , 'national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder']

In [112]:
from cassandra.query import dict_factory
session.row_factory = dict_factory
rows = list( session.execute("SELECT * from good_trainingtable ;") ) 
with open('Names2.csv', 'w' ,newline="" ) as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames= fieldnames)
    writer.writeheader()
    writer.writerows(rows)

In [97]:
from cassandra.query import dict_factory
session.row_factory = dict_factory
rows = session.execute("SELECT * from sample ;")
reco = list(rows)
with open('Names.csv', 'w' ,newline='' ) as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=['id', 'name', 'srno'])
    writer.writeheader()
    writer.writerows(reco)

In [88]:
reco

[{'id': UUID('3f5f9f9c-068d-43b9-bb13-702d377407fe'),
  'name': 'shubham',
  'srno': 77},
 {'id': UUID('220e7ac4-f056-482e-827f-e09138da4046'),
  'name': 'shubham',
  'srno': 77},
 {'id': UUID('da2105de-7721-477e-9474-0af920334061'),
  'name': 'sam',
  'srno': 82},
 {'id': UUID('b884d4ac-9e93-44ab-9121-4f6734266407'),
  'name': 'sam',
  'srno': 82},
 {'id': UUID('c8c26d7a-0921-4380-8f57-755a8094d7ba'),
  'name': 'shubham',
  'srno': 77},
 {'id': UUID('66ee8766-77ba-4eb5-a2f6-74bc77e51e5d'),
  'name': 'dhruv',
  'srno': 75},
 {'id': UUID('44fd49e3-b68a-4d6c-a6d1-df71e0a5e802'),
  'name': 'rocky',
  'srno': 84},
 {'id': UUID('2bb047f1-bf58-4dc6-92fd-46b12bd7b8c1'),
  'name': 'rocky',
  'srno': 84},
 {'id': UUID('65bd3b14-6d28-4f84-a555-55be43919419'),
  'name': 'dhruv',
  'srno': 75}]

In [114]:
fieldnames = [   'sku','national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
                                'forecast_6_month', 'forecast_9_month', 'sales_1_month',
                                'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
                                'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
                                'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint'
                                'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder'
                                ]

In [116]:
fieldnames = ['sku' , 'national_inv', 'lead_time', 'in_transit_qty', 'forecast_3_month',
       'forecast_6_month', 'forecast_9_month', 'sales_1_month',
       'sales_3_month', 'sales_6_month', 'sales_9_month', 'min_bank',
       'potential_issue', 'pieces_past_due', 'perf_6_month_avg',
       'perf_12_month_avg', 'local_bo_qty', 'deck_risk', 'oe_constraint',
       'ppap_risk', 'stop_auto_buy', 'rev_stop', 'went_on_backorder']

In [117]:
from cassandra.query import dict_factory
session.row_factory = dict_factory
rows = list( session.execute("SELECT * from good_trainingtable ;") ) 
with open("finaltest.csv" , mode='w' , newline="") as csv_file :
    writer = csv.DictWriter( csv_file , fieldnames= fieldnames)
    writer.writeheader()
    writer.writerows(rows)

## try4

In [6]:
import csv

with open("./filtered_Training_data.csv",'r') as f:
    next (f)
    data = csv.reader(f , delimiter='\n' )
    limit = 0 
    for key , row in enumerate(data):
            print(key)
            a = row[0]
            #l = a.split(',')
            #sku ,national_inv  , lead_time , in_transit_qty , forecast_3_month , forecast_6_month , forecast_9_month, sales_1_month , sales_3_month ,sales_6_month  , sales_9_month  ,min_bank , potential_issue ,pieces_past_due  , perf_6_month_avg , perf_12_month_avg  , local_bo_qty  ,deck_risk , oe_constraint, ppap_risk , stop_auto_buy  ,rev_stop  ,went_on_backorder = int(l[0]) , float(l[1]) ,  float(l[2]) ,  float(l[3]) , float(l[4]) ,  float(l[5]) ,  float(l[6]) ,  float(l[7]) , float(l[8]) , float(l[9]) ,  float(l[10]) , float(l[11]) ,  (l[12]), float(l[13]) , float(l[14]) ,  float(l[15])  ,  float(l[16]),  (l[17]),  (l[18]),  (l[19]),  (l[20]),  (l[21]),  (l[22])             
            #session.execute(f"Insert into Good_trainingTable(sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values ({sku} ,{national_inv}  , {lead_time} , {in_transit_qty} , {forecast_3_month} , {forecast_6_month} , {forecast_9_month}, {sales_1_month} , {sales_3_month} ,{sales_6_month}  , {sales_9_month}  ,{min_bank} , '{potential_issue}' ,{pieces_past_due}  , {perf_6_month_avg} , {perf_12_month_avg}  , {local_bo_qty}  ,'{deck_risk}' , '{oe_constraint}', '{ppap_risk}' , '{stop_auto_buy}'  ,'{rev_stop}'  ,'{went_on_backorder}'); " )
            break
            
print(a)

0
1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No

In [85]:
#session.execute("CREATE TABLE if not exists Good_trainingTable (sku  int PRIMARY KEY,national_inv  float , lead_time  float , in_transit_qty  float , forecast_3_month  float , forecast_6_month  float , forecast_9_month  float , sales_1_month  float , sales_3_month  float ,sales_6_month  float , sales_9_month  float ,min_bank  float , potential_issue  text,pieces_past_due  float , perf_6_month_avg  float , perf_12_month_avg  float , local_bo_qty  float ,deck_risk  text,oe_constraint  text  , ppap_risk  text,stop_auto_buy  text,rev_stop  text,went_on_backorder  text) ;" )

In [84]:
#tablename  = 'Good_trainingTable'
#a = a

#session.execute("Insert into Good_trainingTable(sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values('1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No'); " )

# Modified Setup

In [99]:
new_df = pd.read_csv('Training_dataset.csv')
new_df.fillna(np.nan , inplace = True )
new_df.head()

C:\Users\DELL\anaconda3\envs\WaferFaultDetection_env\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [100]:
# create small dataset for the 
df4 = new_df.head()
df4.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [101]:
df4.to_csv('Sample_file4csv.csv' , index=False)
df4 = pd.read_csv('Sample_file4csv.csv')
df4.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [102]:
Query_1 = ("CREATE TABLE if not exists sample4 ( sku  int PRIMARY KEY,,national_inv  float , lead_time  float , in_transit_qty  float , forecast_3_month  float , forecast_6_month  float , forecast_9_month  float , sales_1_month  float , sales_3_month  float ,sales_6_month  float , sales_9_month  float ,min_bank  float , potential_issue  text,pieces_past_due  float , perf_6_month_avg  float , perf_12_month_avg  float , local_bo_qty  float ,deck_risk  text,oe_constraint  text  , ppap_risk  text,stop_auto_buy  text,rev_stop  text,went_on_backorder  text) ;" )
session.execute(Query_1)

In [108]:
a = df4.values
for i in a : 
    l = list(i)
    Query_2 = f"Insert into sample4 (sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,min_bank,potential_issue,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder) values ({l[0]} , {l[1]} ,  {l[2]} ,  {l[3]} , {l[4] }  ,  {l[5]} ,  {l[6]} ,  {l[7]} , {l[8]} , {l[9] }  ,  {l[10]} , {l[11]} ,  '{l[12]}' , { l[13]} , { l[14]} ,  {l[15]}  ,  {l[16]},  '{l[17]}',  '{l[18]}' ,  '{l[19]}',  '{l[20]}',  '{l[21]}' ,  '{l[22]}');"
    session.execute(Query_2)